{% extends 'base.html' %}
{% block content %}
<div class="container">
       <form method="post">
           {{ form.hidden_tag() }}
           <div>
               <p> LOGIN </p>

           </div>

             <div class="form-group">
               {{ form.email.label(class="form-control-label") }}
               {{ form.email(class="form-control") }}
           </div>
             <div class="form-group">
               {{ form.password.label(class="form-control-label") }}
               {{ form.password(class="form-control") }}
           </div>
           <div>
               {{ form.remember.label }}
               {{ form.remember }}

           </div>
           <div class="form-group">
               {{ form.submit(class="btn btn-outline-dark") }}

           </div>

       </form>
       <div>
           <p>
               თუ ჯერ არ ხარ დარეგისტრირებული გაიარე რეგისტრაცია - <a href="{{ url_for('register') }}"> რეგისტრაცია </a>
           </p>
       </div>

   </div>
{% endblock %}
